<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liman.www.manage.mapper.PmsBaseAttrInfoMapper">
    <select id="selectByCatalog3Id" parameterType="java.lang.String" resultType="com.liman.www.bean.PmsBaseAttrInfo">
        select * from pms_base_attr_info where catalog3_id=#{id}
    </select>
    <insert id="insert" parameterType="com.liman.www.bean.PmsBaseAttrInfo" keyProperty="id" useGeneratedKeys="true">
        insert into pms_base_attr_info(attr_name, catalog3_id) values(#{attrName},#{catalog3Id})
    </insert>

    <update id="updateById" parameterType="com.liman.www.bean.PmsBaseAttrInfo">
        update pms_base_attr_info set attr_name=#{attrName} where id=#{id}
    </update>
</mapper>