<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liman.www.manage.mapper.PmsProductImageMapper">
    <insert id="insert" useGeneratedKeys="true">
        insert into pms_product_image(product_id, img_name, img_url)
        values
        <foreach collection="param1" item="pmsProductImage" separator=",">
            (#{param2},#{pmsProductImage.imgName},#{pmsProductImage.imgUrl})
        </foreach>
    </insert>

    <select id="selectByProductId" parameterType="java.lang.String" resultType="com.liman.www.bean.PmsProductImage">
        select * from pms_product_image where product_id=#{id}
    </select>
</mapper>